server:
  port: 8083

spring:
  application:
    name: jobmanager
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5535}/${DB_NAME:jobpost_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
